<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
      #logo-main {
        font-size: 1.8rem;
        color: #ff7f50;
        font-family: "Kanit", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      .icon-or-col {
        color: #ff7f50;
      }
    </style>
    {% block css %} {% endblock %}
  </head>
  <body style="background: #edf2f7">
    {% include 'partials/message_popup.html' %} {% if messages %}
    <script>
      // Display each message passed from Django views
      {% for message in messages %}
          showMessage("{{ message }}");
      {% endfor %}
    </script>
    {% endif %}
    <div>
      <script
        src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
        defer
      ></script>

      <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200">
        <div
          :class="sidebarOpen ? 'block' : 'hidden'"
          @click="sidebarOpen = false"
          class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"
        ></div>

        <div
          :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
          class="fixed inset-y-0 left-0 z-30 w-64 overflow-y-auto transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:static lg:inset-0"
        >
          <div class="flex items-center justify-center mt-8">
            <div class="flex items-center">

              <span id="logo-main">SoftGo</span>
            </div>
          </div>

          <nav class="mt-10">
            <a
              class="flex items-center px-6 py-2 mt-4 {% block upload %}{% endblock %}"
              href="/dashboard/{{ user.username }}"
            >
            <svg
            class="w-6 h-6 icon-or-col"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            fill="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M288 109.3L288 352c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-242.7-73.4 73.4c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l128-128c12.5-12.5 32.8-12.5 45.3 0l128 128c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L288 109.3zM64 352l128 0c0 35.3 28.7 64 64 64s64-28.7 64-64l128 0c35.3 0 64 28.7 64 64l0 32c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64l0-32c0-35.3 28.7-64 64-64zM432 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"
            ></path>
          </svg>          
              
              <span class="mx-3">Upload</span>
            </a>

            <a
              class="flex items-center px-6 py-2 mt-4 {% block auto_clustering %}{% endblock %}"
              href="#"
            >
              <svg
                class="w-6 h-6 icon-or-col"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"
                ></path>
              </svg>

              <span class="mx-3">Auto Clustering</span>
            </a>

            <a
              class="flex items-center px-6 py-2 mt-4 {% block explore_topics %}{% endblock %}"
              href="#"
            >
              <svg
                class="w-6 h-6 icon-or-col"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
                ></path>
              </svg>

              <span class="mx-3">Explore Topics</span>
            </a>
            <a
            class="flex items-center px-6 py-2 mt-4 {% block search_papers %}{% endblock %}"
            href="#"
          >
            <svg class="w-6 h-6 icon-or-col" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460 512"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M220.6 130.3l-67.2 28.2V43.2L98.7 233.5l54.7-24.2v130.3l67.2-209.3zm-83.2-96.7l-1.3 4.7-15.2 52.9C80.6 106.7 52 145.8 52 191.5c0 52.3 34.3 95.9 83.4 105.5v53.6C57.5 340.1 0 272.4 0 191.6c0-80.5 59.8-147.2 137.4-158zm311.4 447.2c-11.2 11.2-23.1 12.3-28.6 10.5-5.4-1.8-27.1-19.9-60.4-44.4-33.3-24.6-33.6-35.7-43-56.7-9.4-20.9-30.4-42.6-57.5-52.4l-9.7-14.7c-24.7 16.9-53 26.9-81.3 28.7l2.1-6.6 15.9-49.5c46.5-11.9 80.9-54 80.9-104.2 0-54.5-38.4-102.1-96-107.1V32.3C254.4 37.4 320 106.8 320 191.6c0 33.6-11.2 64.7-29 90.4l14.6 9.6c9.8 27.1 31.5 48 52.4 57.4s32.2 9.7 56.8 43c24.6 33.2 42.7 54.9 44.5 60.3s.7 17.3-10.5 28.5zm-9.9-17.9c0-4.4-3.6-8-8-8s-8 3.6-8 8 3.6 8 8 8 8-3.6 8-8z"/></svg>
            <span class="mx-3">Search Papers</span>
          </a>
            <a
              class="flex items-center px-6 py-2 mt-4 {% block history %}{% endblock %}"
              href="#"
            >
              <svg
                class="w-6 h-6 icon-or-col"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"
                ></path>
              </svg>

              <span class="mx-3">History</span>
            </a>
          </nav>
        </div>
        <div class="flex flex-col flex-1 overflow-hidden">
          <header
            class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-indigo-600"
          >
            <div class="flex items-center">
              <button
                @click="sidebarOpen = true"
                class="text-gray-500 focus:outline-none lg:hidden"
              >
                <svg
                  class="w-6 h-6"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 6H20M4 12H20M4 18H11"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </button>

              <div class="relative mx-4 lg:mx-0">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                  <svg
                    class="w-5 h-5 text-gray-500"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </span>

                <input
                  class="w-32 pl-10 pr-4 rounded-md form-input sm:w-64 focus:border-indigo-600"
                  type="text"
                  placeholder="Search"
                />
              </div>
            </div>

            <div class="flex items-center">
              <div x-data="{ notificationOpen: false }" class="relative">
                <button
                  @click="notificationOpen = ! notificationOpen"
                  class="flex mx-4 text-gray-600 focus:outline-none"
                >
                  <svg
                    class="w-6 h-6"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15 17H20L18.5951 15.5951C18.2141 15.2141 18 14.6973 18 14.1585V11C18 8.38757 16.3304 6.16509 14 5.34142V5C14 3.89543 13.1046 3 12 3C10.8954 3 10 3.89543 10 5V5.34142C7.66962 6.16509 6 8.38757 6 11V14.1585C6 14.6973 5.78595 15.2141 5.40493 15.5951L4 17H9M15 17V18C15 19.6569 13.6569 21 12 21C10.3431 21 9 19.6569 9 18V17M15 17H9"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </button>

                <div
                  x-show="notificationOpen"
                  @click="notificationOpen = false"
                  class="fixed inset-0 z-10 w-full h-full"
                  style="display: none"
                ></div>

                <div
                  x-show="notificationOpen"
                  class="absolute right-0 z-10 mt-2 overflow-hidden bg-white rounded-lg shadow-xl w-80"
                  style="width: 20rem; display: none"
                >
                  <a
                    href="#"
                    class="flex items-center px-4 py-3 -mx-2 text-gray-600 hover:text-white hover:bg-indigo-600"
                  >
                    <img
                      class="object-cover w-8 h-8 mx-1 rounded-full"
                      src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80"
                      alt="avatar"
                    />
                    <p class="mx-2 text-sm">
                      <span class="font-bold" href="#">Sara Salah</span> replied
                      on the
                      <span class="font-bold text-indigo-400" href="#"
                        >Upload Image</span
                      >
                      artical . 2m
                    </p>
                  </a>
                  <a
                    href="#"
                    class="flex items-center px-4 py-3 -mx-2 text-gray-600 hover:text-white hover:bg-indigo-600"
                  >
                    <img
                      class="object-cover w-8 h-8 mx-1 rounded-full"
                      src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80"
                      alt="avatar"
                    />
                    <p class="mx-2 text-sm">
                      <span class="font-bold" href="#">Slick Net</span> start
                      following you . 45m
                    </p>
                  </a>
                  <a
                    href="#"
                    class="flex items-center px-4 py-3 -mx-2 text-gray-600 hover:text-white hover:bg-indigo-600"
                  >
                    <img
                      class="object-cover w-8 h-8 mx-1 rounded-full"
                      src="https://images.unsplash.com/photo-1450297350677-623de575f31c?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80"
                      alt="avatar"
                    />
                    <p class="mx-2 text-sm">
                      <span class="font-bold" href="#">Jane Doe</span> Like Your
                      reply on
                      <span class="font-bold text-indigo-400" href="#"
                        >Test with TDD</span
                      >
                      artical . 1h
                    </p>
                  </a>
                  <a
                    href="#"
                    class="flex items-center px-4 py-3 -mx-2 text-gray-600 hover:text-white hover:bg-indigo-600"
                  >
                    <img
                      class="object-cover w-8 h-8 mx-1 rounded-full"
                      src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=398&amp;q=80"
                      alt="avatar"
                    />
                    <p class="mx-2 text-sm">
                      <span class="font-bold" href="#">Abigail Bennett</span>
                      start following you . 3h
                    </p>
                  </a>
                </div>
              </div>

              <div x-data="{ dropdownOpen: false }" class="relative">
                <button
                  @click="dropdownOpen = ! dropdownOpen"
                  class="relative flex items-center justify-center w-8 h-8 overflow-hidden rounded-full bg-gray-300 shadow focus:outline-none"
                >
                  <span class="text-xl font-bold text-gray-500"
                    >{{ user.first_name|slice:":1" }}</span
                  >
                </button>

                <div
                  x-show="dropdownOpen"
                  @click="dropdownOpen = false"
                  class="fixed inset-0 z-10 w-full h-full"
                  style="display: none"
                ></div>

                <div
                  x-show="dropdownOpen"
                  class="absolute right-0 z-10 w-64 mt-2 bg-white rounded-md shadow-xl p-4"
                  style="display: none"
                >
                  <div class="flex items-center mb-4">
                    <div
                      class="w-12 h-12 rounded-full bg-gray-300 flex items-center justify-center text-gray-500"
                    >
                      <!-- Placeholder for user image -->
                      <span class="text-xl font-bold"
                        >{{ user.first_name|slice:":1" }}</span
                      >
                    </div>
                    <div class="ml-3">
                      <h3 class="text-lg font-semibold text-gray-800">
                        {{ username }}
                      </h3>
                      <p class="text-sm text-gray-600">{{ email }}</p>
                    </div>
                  </div>
                  <div class="border-b border-gray-200 mb-4"></div>
                  <div class="text-gray-800">
                    <p class="mb-1">
                      <strong>First Name:</strong> {{ first_name }}
                    </p>
                    <p class="mb-1">
                      <strong>Last Name:</strong> {{ last_name }}
                    </p>
                    <p class="mb-1"><strong>Email:</strong> {{ email }}</p>
                  </div>
                  <div class="mt-4">
                    {% comment %}
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
                    >
                      Profile
                    </a>
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
                    >
                      Products
                    </a>
                    {% endcomment %}
                    <a
                      href="/authentication/logout/"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-600 hover:text-white"
                    >
                      Logout
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </header>
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
